$footerHeight: 3.5rem;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footerHeight;
}

.navbar {
  position: absolute;
  width: 100%;
  top: 0;
}

.grow-1 {
  flex-grow: 1;
}

.transparent {
  position: relative;
	display: block;
  z-index: -100;
}

.transparent:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:rgba(0,0,0,0.4);
  opacity:1;
  transition: all 0.5s;
}

.landing {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: url(/assets/img/background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -100;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  line-height: $footerHeight;
}

@media screen and (max-width: 1150px) {
  .landing {
    background-size: auto 100%;
  }
}