---
layout: default
---
<div class="transparent">
  <picture>
    <source srcset="/assets/img/about_xs.jpg" media="(max-width: 575px)">
    <source srcset="/assets/img/about_sm.jpg" media="(max-width: 767px)">
    <source srcset="/assets/img/about_md.jpg" media="(max-width: 991px)">
    <source srcset="/assets/img/about_lg.jpg" media="(max-width: 1199px)">
    <img class="img-fluid" src="/assets/img/about_xl.jpg" alt="Code and coffe mug">
  </picture>
  <div class="page-title d-flex align-items-center justify-content-center">
    <h1 class="text-white">{{ page.title }}</h1>
  </div>
</div>
<div class="container">
  <div class="pt-5 pb-5">
    {{ content }}
  </div>
</div>